doctype html

include ../navbar.jade

html
    head
        title= title
        link(rel="stylesheet", href="/styles/dashboard.css")
        link(rel="stylesheet", href="/styles/adminCatalog.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    
    body
        #admin-panel.row
            .col.p-0
                a#users.btn.btn-lg.active.btn-block(href='/admin/users' role='button' aria-pressed='true') Users
            .col.p-0
                a#catalog.btn.btn-lg.active.btn-block(href='/admin/catalog' role='button' aria-pressed='true') Catalog

        section#team
            .container.my-3.py-5.text-center
                .row.mb-5
                    .col
                        h1 CATALOG
                .row
                    
                .row
                    .col-lg-4.col-md-6
                        .card
                            .card-body
                                img(src="/images/image1.jpeg", alt="image 1", class="mb-3")
                                h3 Event1
                                h5 Event
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis ipsum necessitatibus accusamus. Voluptas minus officia tempora ab perferendis est modi odio repudiandae ducimus. Quidem quas beatae hic reprehenderit commodi?
                                .d-flex.flex-row.justify-content-center
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-facebook
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-twitter
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-instagram
                    .4.col-lg-4.col-md-6
                        .card
                            .card-body
                                img(src="/images/image2.jpeg", alt="image 1", class="w-100 mb-3")
                                h3 Workshop1
                                h5 Workshop
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis ipsum necessitatibus accusamus. Voluptas minus officia tempora ab perferendis est modi odio repudiandae ducimus. Quidem quas beatae hic reprehenderit commodi?
                                .d-flex.flex-row.justify-content-center
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-facebook
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-twitter
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-instagram
                    .4.col-lg-4.col-md-6
                        .card
                            .card-body
                                img(src="/images/image3.jpeg", alt="image 1", class="w-100 mb-3")
                                h3 Event2
                                h5 Event
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis ipsum necessitatibus accusamus. Voluptas minus officia tempora ab perferendis est modi odio repudiandae ducimus. Quidem quas beatae hic reprehenderit commodi?
                                .d-flex.flex-row.justify-content-center
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-facebook
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-twitter
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-instagram
                    .4.col-lg-4.col-md-6
                        .card
                            .card-body
                                img(src="/images/image4.png", alt="image 1", class="w-100 mb-3")
                                h3 Workshop2
                                h5 Workshop
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis ipsum necessitatibus accusamus. Voluptas minus officia tempora ab perferendis est modi odio repudiandae ducimus. Quidem quas beatae hic reprehenderit commodi?
                                .d-flex.flex-row.justify-content-center
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-facebook
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-twitter
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-instagram
                    .4.col-lg-4.col-md-6
                        .card
                            .card-body
                                img(src="/images/image5.jpeg", alt="image 1", class="w-100 mb-3")
                                h3 Event1
                                h5 Event
                                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa debitis ipsum necessitatibus accusamus. Voluptas minus officia tempora ab perferendis est modi odio repudiandae ducimus. Quidem quas beatae hic reprehenderit commodi?
                                .d-flex.flex-row.justify-content-center
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-facebook
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-twitter
                                    .p-4
                                        a(href="#")
                                            i.fa.fa-instagram