doctype html
include ../navbar.jade
html
    head
        title= title
        link(rel="stylesheet", href="/styles/home.css")
        script(src="/javascripts/loginState.js")
        script(src="/javascripts/verifytoken.js")
    body
        #admin-panel.row
            .col.p-0
                a.btn.btn-lg.active.btn-block(href='/admin/users' role='button' aria-pressed='true') Users
            .col.p-0
                a.btn.btn-lg.active.btn-block(href='/admin/catalog' role='button' aria-pressed='true') Catalog

