doctype html
include ./navbar.jade

html
    head
        script(src="/javascripts/loginState.js")
        title Home
        link(rel="stylesheet", href="/styles/hom.css")

    body
        #header
            img(src="/images/rekker.jpeg", alt="Fest image")
            p ReKKeR
            button.btn.btn-lg(onclick="window.location.href='/catalog';") CATALOG

        #about
            h1 About Us
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


        .container.TeamMember.text-center.my-3.py-5
            .row.mb-5
                .col
                    h1 Our Team
                    p.mt-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eum nobis a omnis nesciunt animi, blanditiis quis non error autem in nostrum quisquam, qui dicta facere sunt adipisci necessitatibus tenetur.
            
            .row
                .4.col-lg-4.col-md-6
                    .card
                        .card-body
                            img.img-fluid.rounded-circle.w-50.mb-3(src='/images/profile.png' alt='img not avalbl')
                            p Sangeeta Dusad
                            h5 Member
                            p
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nesciunt eveniet ipsum. Velit, neque deleniti? Officiis ullam molestias laborum ipsum, ratione nesciunt voluptates, dicta atque earum, ab error reiciendis sunt.
                            .d-flex.flex-row.justify-content-center
                                .p-4
                                a(href='')
                                    i.fa.fa-facebook
                                .p-4
                                a(href='')
                                    i.fa.fa-twitter
                                .p-4
                                a(href='')
                                    i.fa.fa-instagram

                .4.col-lg-4.col-md-6
                    .card
                        .card-body
                            img.img-fluid.rounded-circle.w-50.mb-3(src='/images/profile.png' alt='img not avalbl')
                            p Sangeeta Dusad
                            h5 Member
                            p
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nesciunt eveniet ipsum. Velit, neque deleniti? Officiis ullam molestias laborum ipsum, ratione nesciunt voluptates, dicta atque earum, ab error reiciendis sunt.
                            .d-flex.flex-row.justify-content-center
                                .p-4
                                a(href='')
                                    i.fa.fa-facebook
                                .p-4
                                a(href='')
                                    i.fa.fa-twitter
                                .p-4
                                a(href='')
                                    i.fa.fa-instagram

                .4.col-lg-4.col-md-6
                    .card
                        .card-body
                            img.img-fluid.rounded-circle.w-50.mb-3(src='/images/profile.png' alt='img not avalbl')
                            p Sangeeta Dusad
                            h5 Member
                            p
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nesciunt eveniet ipsum. Velit, neque deleniti? Officiis ullam molestias laborum ipsum, ratione nesciunt voluptates, dicta atque earum, ab error reiciendis sunt.
                            .d-flex.flex-row
                                .p-4
                                a(href='')
                                    i.fa.fa-facebook
                                .p-4
                                a(href='')
                                    i.fa.fa-twitter
                                .p-4
                                a(href='')
                                    i.fa.fa-instagram

        #footer
            p Footer


        