doctype html
include navbar.jade
html
    head
        script(src="/javascripts/loginState.js")
        script(src='/javascripts/login.js')

        style.
            body{
                background-image:url('https://wallpaperaccess.com/full/2881.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
    body
            
        div.card.text-white.mt-3.ml-1.bg(style='max-width: 18rem;')
            div.card-header Login
            .card-body.text-white(style="color:#4a637c;")
                | Email
                input#email(type='text' label='email' placeholder="Email")
                | Password
                input#password(type='password' label='password' placeholder="Password")
                a.btn.btn-primary.mt-2(onclick="login()") Login
                p.mt-3 New user?
                    a(href="/auth/register") Register
