doctype html
html( lang="en" )
    head
        title Rekker Fest
        meta(charset='utf-8')
        script(src="/javascripts/navbar.js")
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

        //- Bootswatch Theme
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')

        //- - let data = {login:'false', role:'student'}
        //- if payload
        //-     - let data = {login:payload.login, role:payload.role}

    //- script.
        //- const token = localstorage.getItem('token');
        //- if (token){
        //-     let payload = {login:true, role:}
        //- }

    style.
        .bg{
            background-color:#2c3e50;
        }
        .btnbg{
            border:0px;
            color:#1a242f;
        }
    body
        .container

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')

        nav.navbar.navbar-expand-lg.navbar-dark.bg.py-3
            a.navbar-brand(href='/') ReKKeR
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            div(class="collapse navbar-collapse", id="navbarSupportedContent")
                ul.navbar-nav.mr-auto(list-style-type: none)
                    li.nav-item
                        a.nav-link(href='/') Home
                        //- span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/about') About
                    //- li.nav-item.dropdown
                    //-     a(class="nav-link dropdown-toggle", id="navbarDropdown", href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
                    //-     div(class="dropdown-menu", aria-labelledby='navbarDropdown')
                    //-         a.dropdown-item(href='#') Action
                    //-         a.dropdown-item(href='#') Another action
                            //- div.dropdown-divider
                            //-     a.dropdown-item(href='#') Something else here
                form.form-inline.my-2.my-lg-0
                        a.nav-link(href='/catalog') Catalog
                    #admin(style='display: none')
                        a.nav-link(href='/admin') admin
                    #logFalse
                        a.nav-link(href='/auth/login') Login
                        a.nav-link(href='/auth/register') Register
                    #logTrue(style='display: none')
                        a#loginurl.nav-link Dashboard
                        a.nav-link(onclick='logout()' href='/') Logout
                    //- button.btn.btn-outline-light.my-2.my-sm-0(formaction="/login") Login
                    //- button.ml-2.btn.btn-outline-light(action="/register") Register
        

